@model List<Book>

@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Message"]</h1>
<br />

<!-- Link to Add New Book -->
<a class="nav-link" href="/Create">Add New Book</a>
<br />

<!-- Table of Books -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Published Date</th>
            <th>ISBN</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.PublishedDate.ToShortDateString()</td> 
                <td>@book.ISBN</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/Home/Edit/@book.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/Home/Delete/@book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
